.project-card {
    width: 100%;
    border: 10px solid #590D6F;
    box-shadow: 2px #885ce8;
    padding: 10px 10px 10px 10px;
    color: black;
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: fill; 
}

.one-project-card {
    width: 100%;
    padding: 20px 50px 20px 50px;
    align-items: flex-start;
}