
body {
  box-sizing: border-box;
  background-color: #fdfdfc;
  display: flex;
}

#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 30px;
  row-gap: 20px;
  padding: 30px 30px;
}


#logo {
  text-align: center;
  padding: 10px 30px 10px 30px;
  font: 8px;
  justify-content: center;
}

.form {
  justify-content: center;
}

