#navbar {
    align-items: center;
    background-color: #1176ae;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 80px;
  }
  
a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.a-pledge {
  margin: 0px;
  align-items: flex-start;
  text-decoration:underline;
  font-weight: bold;
  color: blueviolet;
}

.a-nav {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
;
}






 